/* Main Body */

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 

    /* Prevent text selection */
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

header {
    position: relative; 
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #333, #45612c);
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
    padding: 25px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    flex: 1;
}

.profilepic {
    max-width: 150px;
    max-height: 150px;
    height: auto;
    border-radius: 50%; 
}

header h1, header h2 {
    z-index: 2;
    color: #ffffff;
}

footer {
    color: white;
    text-align: center;    
    background: linear-gradient(to right, #333, #45612c);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
    padding: 25px;
    word-wrap: break-word; 
    word-break: break-word; 
    white-space: normal; 
}

footer p {
    color: white;
}

.container {
    margin: auto;
}

.section {
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}

.section.visible {
    opacity: 1;
    transform: translateY(0); 
}

h1 {
    color: #45612c;
    font-size: 2.5em;
}

h2 {
    color: #45612c;
    font-size: 1.5em;
}

h3 {
    color: #292929;
    font-size: 1.25em;
}

p {
    color: #333;
}

li {
    color: #333;
}

/* Lists */

ul.bullets {
    list-style-type: circle;
    padding-left: 40px;
    margin-bottom: 10px;
    color: #45612c;
}

ul li::marker {
    color: #45612c;
}

li {
    margin-bottom: 10px;
}

/* Link Colors */
a {
    color: #45612c;
    text-decoration: none; 
}

a:hover {
    color: #0c47a1;
    text-decoration: underline; 
}

a:active {
    color: #0c47a1; 
}

a:visited {
    color: #551a8b; 
}

/* Company Logo */

.title-and-logo {
    display: flex;
    align-items: left;
    justify-content: space-between;
    align-items: flex-end;
}

.company-logo {
    width: 80px; 
    height: 80px;
    margin-right: 10px; 
    margin-left: 10px;
}

/* Car Animation */

.road {
    position: fixed;
    left: 10%;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #45612c;
    margin-right: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    animation: fadeIn 2s ease-in-out; 
    border-radius: 50%; 

}

.road-line {
    position: fixed;
    left: 5%;
    top: 0;
    width: 0.5px;
    height: 100%;
    color: #45612c;
    background-image: repeating-linear-gradient(
        to bottom,
        #45612c, 
        #45612c 10px, 
        transparent 10px, 
        transparent 35px 
    );
    z-index: 1; 
    margin: 1px;
    padding: 1px;
    border-radius: 50%; /* Add border-radius for curved ends */
    animation: fadeIn 2s ease-in-out; 
}

.car {
    position: fixed;
    left: 5.1%;
    top: 5%; 
    width: 5%; 
    z-index: 1000;
    transform: translateY(0);
    transition: transform 0.1s ease-out;
}

.car img {
    width: 100%;
    height: auto;
    animation: fadeIn 3s ease-in-out;
}

/* Media Query*/
@media (max-width: 1200px) {
    .car, .road, .road-line, .profilepic{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header, .footer, .section {
        padding: 15px;
        margin: 10px auto; 
        max-width: 100%;
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .header, .footer, .section {
        padding: 10px;
        margin: 5px auto; 
        max-width: 100%;
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;   
    }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 2;
    }
}

* {
    box-sizing: border-box;
}